body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.App {
  width: 300px;
  height: 300px;
  border: 2px solid #0beaf3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;

}

.App p {
  text-align: center;
}

.counter-buttons button {
  background-color: #0beaf3;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;

}

.counter-display {
  font-size: 36px;
  margin: 10px 0;
  color: black;
}

.counter-display.max {
  color: red;
}